.nav-container{
    max-width: 144rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.4rem;  
}

header{
     background-color: var(--dark-color);
     height: auto;
     
}

ul {
    display: flex;
    gap: 3.2rem;
    
}

li{
    list-style: none;
}


